body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}
@media screen and (min-width: 1200px) {
  section {
    max-width: 1400px;
    padding: 40px 80px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90px;
  background-color: #7eaa80;
  border-bottom: 2px solid antiquewhite;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    height: 100px;
    padding: 20px 40px;
    align-items: baseline;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    flex-direction: row;
    max-width: 1400px;
  }
}
.header .header-title {
  margin-right: 20px;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .header .header-title {
    font-size: 32px;
  }
}
.header .nav {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .header .nav {
    gap: 20px;
  }
}
.header .nav-link {
  font-size: 16px;
  color: antiquewhite;
}
@media screen and (min-width: 768px) {
  .header .nav-link {
    font-size: 16px;
  }
}

.hero {
  width: 100%;
  height: calc(100vh - 180px);
  background-image: url(../images/hands.jpg);
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    height: calc(100vh - 200px);
  }
}
.hero .hero-text-box {
  width: 240px;
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .hero .hero-text-box {
    width: 360px;
  }
}
.hero .hero-text {
  color: beige;
  font-size: 12px;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .hero .hero-text {
    font-size: 20px;
  }
}

.events {
  height: 100vh;
  background-color: #799caf;
}

.gallery-section {
  background-color: #b5bbc5;
}

/** @format */
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.contacts {
  height: calc(100vh - 200px);
  background-color: #d4c1a7;
  display: flex;
  flex-direction: column;
}

.contacts-title {
  font-size: 30px;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: auto 0;
}

.contacts-item-box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: rgb(248, 235, 217);
  border: 6px solid rgba(82, 81, 81, 0.9568627451);
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 4px 2px rgba(0, 0, 0, 0.2);
}
.contacts-item-box:hover {
  transform: scale(1.03);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.contacts-item-box img {
  width: 100px;
}

.contacts-link {
  display: block;
  align-self: center;
  justify-self: center;
}

.footer {
  height: 90px;
  width: 100%;
  background-color: rgba(82, 81, 81, 0.9568627451);
  border-top: 2px solid antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    height: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    flex-direction: row;
    max-width: 1400px;
    padding: 20px 100px;
    flex-direction: row;
  }
}
.footer .footer-title {
  display: none;
}
.footer .address__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer .address__list {
    flex-direction: row;
    gap: 35px;
  }
}
.footer .address__link,
.footer .footer__link {
  font-size: 16px;
  color: antiquewhite;
}
@media screen and (min-width: 768px) {
  .footer .address__link,
  .footer .footer__link {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */