.footer {
    height: 100px;
    width: 1400px;
    background-color: #807474f4;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title {
    font-size: 36px;
    color: bisque;
    align-self: flex-start;
}