.footer {
    height: 90px;
    width: 100%;
    background-color: #525151f4;
    border-top: 2px solid antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet {
        flex-direction: row;
        height: 100px;
    }

    @include desktop {
        padding: 20px 100px;
        flex-direction: row;
    }

    .address__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include tablet {
            flex-direction: row;
            gap: 35px;
        }
        @include desktop {
            gap: 50px;
        }
    }

    .contacts__icon {
        display: inline-block;
        margin-right: 8px;
        @include tablet {
            margin-right: 12px;
            width: 17px;
        }
        @include desktop {
            margin-right: 18px;
            width: 22px;
            height: 22px;
        }
    }

    .address__link,
    .footer__link {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: antiquewhite;
        fill: antiquewhite;
        transition-property: color fill;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: #7eaa80;
            fill: #7eaa80;
        }
        @include tablet {
            font-size: 18px;
        }
        @include desktop {
            font-size: 24px;
        }
    }
}
