.footer {
    height: 90px;
    width: 100%;
    background-color: #525151f4;
    border-top: 2px solid antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet {
        flex-direction: row;
        height: 100px;
    }

    @include desktop {
        flex-direction: row;
        max-width: 1400px;
        padding: 20px 100px;
        flex-direction: row;
    }
    .footer-title {
        display: none;
        // @include tablet {
        //     display: inline-block;
        //     font-size: 20px;
        //     color: antiquewhite;
        //     align-self: center;
        // }
    }

    .address__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include tablet {
            flex-direction: row;
            gap: 35px;
        }
    }

    .contacts__icon {
        display: inline-block;
        margin-right: 8px;
        fill: antiquewhite;
        // align-self: ;
    }

    .address__link,
    .footer__link {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: antiquewhite;
        @include tablet {
            font-size: 20px;
        }
    }
}
