.header {
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 80px;
    background-color: #7eaa80;
    border-bottom: 2px solid antiquewhite;
    align-items: center;
    padding: 20px 60px;
}

.header-title {
    margin-right: 60px;
    font-size: 34px;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav-link {
    font-size: 24px;
    color: antiquewhite;
}