.hero {
    width: 100%;
    height: calc(100vh - 180px);
    background-image: url(../images/hands.jpg);
    background-position: center;
    background-size: cover;
    @include tablet {
        max-width: 800px;
    }

    @include desktop {
        max-width: 1400px;
        height: 600px;
    }

    .hero-text-box {
        width: 240px;
        align-self: flex-start;
    }

    .hero-text {
        color: beige;
        font-size: 12px;
        font-style: italic;
    }
}
